/* 
Dashboard

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #13224f;
}

::-webkit-scrollbar-thumb {
  background: #ffffff30;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff36;
}

/* Animation */
.up-down-animation {
}
