/* 
Dashboard


*/
:root {
  --dashboard-item-hover-bg: "#ffffff1a";





  /* Front part */
  --front-bg: #111827;
}

#main-database-layout {
 
  background-color: #13224f;
}
#main-database-layout a {
  color: white;
  background-color: #13224f;
}
/* Scrollbar */
#main-database-layout ::-webkit-scrollbar {
  width: 7px;
}
#main-database-layout ::-webkit-scrollbar-track {
  background: #13224f;
}

#main-database-layout ::-webkit-scrollbar-thumb {
  background: #ffffff30;
  border-radius: 20px;
}

#main-database-layout ::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* Start dashboard */
.dashboard-item-hover-bg:hover {
  background-color: var(--dashboard-item-hover-bg);
}
/* Brand logo */
.brand-logo::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #13224f;
}

/* 
Front Part

*/
#front-part {
  background-color: var(--front-bg);
}
